@using CoreBB.Web.Models
@model Forum
<div class="container col-6 offset-3 bb-panel">
    <div class="card border-info">
        <div class="card-header text-white bg-info">
            <strong>Forum Detail Information</strong>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Property</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <td><strong>ID</strong></td>
                    <td>@Model.Id</td>
                </tr>
                <tr>
                    <td><strong>Name</strong></td>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <td><strong>Owner</strong></td>
                    <td><a asp-action="Detail" asp-controller="User" asp-route-name="@Model.Owner.Name">@Model.Owner.Name</a></td>
                </tr>
                <tr>
                    <td><strong>Description</strong></td>
                    <td>@Model.Description</td>
                </tr>
                <tr>
                    <td><strong>Locked</strong></td>
                    <td><input type="checkbox" asp-for="IsLocked" disabled /></td>
                </tr>
                <tr>
                    <td><strong>Creation Date</strong></td>
                    <td>@Model.CreateDateTime.ToShortDateString()</td>
                </tr>
            </table>

            @if ((string)ViewData["Mode"] == "ShowingDetail")
            {
                @if (User.IsInRole(Roles.Administrator))
                {
                    <input class="btn-sm btn-primary" type="button" asp-action="Edit" asp-route-id="@Model.Id" value="Update" />
                    <input class="btn-sm btn-warning" type="button" asp-action="Delete" asp-route-id="@Model.Id" value="Delete" />
                }
                <input class="btn-sm btn-success" type="button" asp-action="Create" asp-controller="Topic" asp-route-forumid="@Model.Id" value="Post Topic" />
            }
            else if ((string)ViewData["Mode"] == "ConfirmingDelete")
            {
                <input class="btn-sm btn-warning" type="submit" value="Confirm" />
            }
        </div>
    </div>
</div>